.horizontal-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
  }

.button-container {
background-color: rgba(43, 255, 0, 0);
display: flex;
justify-content: space-between;
width: 100%; /* Ajusta el ancho del contenedor según sea necesario */
margin: 100px auto 0 auto; /* Centra el contenedor horizontalmente y ajusta el margen superior */
padding: 20px ; /* Añade espacio interno superior e inferior */
padding-top: 20px; /* Añade espacio superior para no superponerse con la barra */
align-items: center;
gap: 10px;
}
