
/* Asegúrate de que el contenedor principal tenga suficiente margen superior e inferior */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding-top: 100px; /* Añade espacio superior para la barra superior */
  padding-bottom: 50px; /* Añade espacio inferior para la barra inferior */
}

.top-bar {
  width: 100%;
  position: fixed; /* Fija la barra en la parte superior */
  background-color: #ffc4d4;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 1px 0;
  top: 0;
  left: 0;
  z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */
  font-family: 'Arial', sans-serif;
}

.down-bar {
  width: 100%;
  position: fixed; /* Fija la barra en la parte inferior */
  background-color: #ffc4d4;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 1px 0;
  bottom: 0;
  left: 0;
  z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */
  font-family: 'Arial', sans-serif;
}

.peluqueria{
  color: #322203;
  text-align: center;
  text-transform: uppercase;
  top: -300px; /* Ajusta este valor según sea necesario */

  font-family: 'Arial', sans-serif;
}


