.top-bar {
  width: 100%;
  position: fixed; /* Fija la barra en la parte superior */
  background-color: #ffc4d4;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 1px 0;
  top: 0;
  left: 0;
  z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */
  font-family: 'Arial', sans-serif;
}

.down-bar {
  width: 100%;
  position: fixed; /* Fija la barra en la parte inferior */
  background-color: #ffc4d4;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 1px 0;
  bottom: 0;
  left: 0;
  z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */
  font-family: 'Arial', sans-serif;
}

.button-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ajusta el ancho del contenedor según sea necesario */
  margin: 100px auto 0 auto; /* Centra el contenedor horizontalmente y ajusta el margen superior */
  padding: 20px 0; /* Añade espacio interno superior e inferior */
  padding-top: 20px; /* Añade espacio superior para no superponerse con la barra */
}

.peluqueria{
  color: #322203;
  text-align: center;
  text-transform: uppercase;
  top: -300px; /* Ajusta este valor según sea necesario */

  font-family: 'Arial', sans-serif;
}

.button {
  background-color: #ffc4d4;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}